{% extends 'base.html' %}

{% block title %}Новое заселение{% endblock %}

{% block head %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"> </script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
{% load static %}
<script src="{% static 'backend/mask/dist/jquery.mask.min.js' %}"></script>
{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class="title">Проживание №{{ accommodation.id }}</h1>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="box">
                    <div class="columns">

                        <div class="column is-3">
                            <div class="field">
                                <label class="label">Номер комнаты</label>
                                <div class="control">
                                    <input class="input is-static" type="text" value="{{ room.name }}" readonly>
                                </div>
                            </div>
                        </div>

                        <div class="column is-3">
                            <div class="field">
                                <label class="label">Заезд</label>
                                <div class="control">
                                    <input class="input is-static" type="datetime" value="{{ accommodation.check_in }}"
                                        readonly>
                                </div>
                            </div>
                        </div>

                        {% if accommodation.check_out %}
                        <div class="column is-3">
                            <div class="field">
                                <label class="label">Выезд</label>
                                <div class="control">
                                    <input class="input is-static" type="datetime" value="{{ accommodation.check_out }}"
                                        readonly>
                                </div>
                            </div>
                        </div>
                        {% endif %}


                    </div>

                    <div class="columns">
                        <div class="column is-3">
                            <div class="field">
                                <label class="label">Тип ставки</label>
                                <div class="control">
                                    {% if accommodation.accommodation_type == 'H' %}
                                    <input class="input is-static" type="text" value="Почасовая" readonly>
                                    {% else %}
                                    <input class="input is-static" type="text" value="Дневная" readonly>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="column is-3">
                            <div class="field">
                                <label class="label">Количество
                                    {% if accommodation.accommodation_type == 'H' %}
                                    часов
                                    {% else %}
                                    дней
                                    {% endif %}
                                </label>
                                <div class="control">
                                    <input class="input is-static" type="text"
                                        value="{{ accommodation.accommodation_quantity }}" readonly>
                                </div>
                            </div>
                        </div>

                        <div class="column is-3">
                            <div class="field">
                                <label class="label">Гости</label>
                                {% for guest in guests %}
                                <a href="{{ guest.get_absolute_url }}"><b>{{ guest.fullname }}</b></a> <a href="{% url 'reports-blank' %}?guest_id={{ guest.id }}&accommodation_id={{ accommodation.id }}" class="button is-small" title="Печать анкеты"><i class="fas fa-clipboard-list"></i></a> <br>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="column is-3">
                            <div class="field">
                                <label class="label">Стоимость проживания</label>
                                <div class="control">
                                    <input class="input is-static" type="text" value="{{ accommodation.cost }}₽"
                                        readonly>
                                </div>
                            </div>
                        </div>

                    </div>
                    {% if not accommodation.check_out %}
                    <div class="level-right">
                        <a class="button is-warning"
                            href="{% url 'accommodation-check-out' accommodation.id %}?next={{ request.path }}">Выселить</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-6">
                <div class="columns">
                    <div class="column">
                        <h1 class="subtitle">Дополнительная информация</h1>
                    </div>
                </div>
                <div class="box">
                    <label class="label">Заметка</label>
                    <form action="{% url 'accommodation-note-update' accommodation.id %}?next={{request.path}}" method="POST">
                            {% csrf_token %}
                            <input type="text" value="{{ accommodation.id }}" name="room_id" hidden>
                            <div class="field">
                                <textarea class="textarea" rows="3" name="note">{{ accommodation.note }}</textarea>
                            </div>
                            <div class="field is-grouped is-grouped-right">
                                <div class="control">
                                    <button class="button is-rounded is-warning">Обновить</button>
                                </div>
                            </div>
                        </form>
                </div>
            </div>
            <div class="column is-6">
                <h1 class="subtitle">Информация о платежах</h1>
                <div class="box">
                    <h3 class="subtitle">Принятые платежи</h3>
                    <table class="table is-fullwidth">
                        <thead>
                            <th>ID</th>
                            <th>Тип платежа</th>
                            <th>Время совершения</th>
                            <th>Сумма</th>
                        </thead>
                        <tbody>
                            {% for payment in payments %}
                            <tr>
                                <td>{{ payment.id }}</td>
                                <td>{{ payment.payment_type }}</td>
                                <td>{{ payment.made_on }}</td>
                                <td>{{ payment.amount }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <th></th>
                            <th></th>
                            <th>Итог:</th>
                            <th>{{ total_paid }}</th>
                        </tfoot>
                    </table>
                    {% if not accommodation.check_out %}
                    <h3 class="subtitle">Новый платеж</h3>
                    <div class="columns">
                        <div class="column is-10 is-offset-1">
                            <form
                                action="{% url 'accommodation-new-payment' accommodation.id %}?next={{ request.path }}"
                                method="post">
                                {% csrf_token %}
                                <div class="field has-addons">
                                    <p class="control">
                                        <span class="select">
                                            <select name="payment_type">
                                                <option value="CASH">Наличные</option>
                                                <option value="POS">Безнал</option>
                                                <option value="BANK">Банк</option>
                                            </select>
                                        </span>
                                    </p>
                                    <p class="control is-expanded">
                                        <input class="input money" id="payment" name="amount" type="text"
                                            placeholder="220.50" required>
                                    </p>
                                    <p class="control">
                                        <button type="submit" class="button is-warning">
                                            Оплатить
                                        </button>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
</script>
{% endblock %}