{% extends 'base.html' %}

{% block title %}Поиск гостей{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class="title">
                    Поиск гостей
                </h1>
            </div>

            <div class="column">
                <form method="GET" action="">
                    <div class="field has-addons is-right">
                        <div class="control is-expanded">
                            <input class="input" name="query" type="text"
                                placeholder="Поиск по фамилии/номеру документа/телефону"
                                value="{{ request.GET.query }}">
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-warning">
                                Найти
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <table class="table is-fullwidth is-hoverable ">
                    {% if guests %}
                    <thead>
                        <tr>
                            <th>Имя</th>
                            <th>День рождения</th>
                            <th>Номер документа</th>
                            <th>Телефон</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Имя</th>
                            <th>День рождения</th>
                            <th>Номер документа</th>
                            <th>Телефон</th>
                        </tr>
                        </thead>
                    </tfoot>

                    <tbody>
                        {% for guest in guests %}
                        <tr onclick="window.location.href = '{{ guest.get_absolute_url }}'" style="cursor: default;">
                            <td>{{ guest.fullname }}</td>
                            <td>{{ guest.date_of_birth|date:"j E" }}</td>
                            <td>{{ guest.document_number }}</td>
                            <td>{{ guest.phone }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="box">
                    <div class="level">
                        <div class="level-item">
                            Нет результатов по запросу "{{ request.GET.query }}"
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <nav class="pagination is-centered">
                    {% if guests.has_previous %}
                    <a class="pagination-previous" href="?page=
                            {{ guests.previous_page_number|stringformat:"d" }}{{ getvars }}{{ hashtag }}">Previous</a>
                    {% else %}
                    <a class="pagination-previous" disabled>Previous</a>
                    {% endif %}
                    {% if guests.has_next %}
                    <a class="pagination-next"
                        href="?page={{ guests.next_page_number|stringformat:"d" }}{{ getvars }}{{ hashtag }}">Next</a>
                    {% else %}
                    <a class="pagination-next" disabled>Next</a>
                    {% endif %}
                    <ul class="pagination-list">
                        {% for page in guests.paginator.page_range %}
                        <li><a class="pagination-link{% ifequal page guests.number %} is-current{% endifequal %}"
                                href="?page={{ page|stringformat:"d" }}{{ getvars }}{{ hashtag }}">{{ page|stringformat:"d" }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock %}